# CMake preset folders
build
install

# CLion project files and build folders.
.idea
cmake-build*

# Visual Studio project files and build folders.
.vs
out*

# Prerequisites.
*.d

# Compiled object files.
*.slo
*.lo
*.o
*.obj

# Precompiled headers.
*.gch
*.pch

# Compiled dynamic libraries.
*.so
*.dylib
*.dll

# Compiled static libraries.
*.lai
*.la
*.a
*.lib

# Executables.
*.exe
*.out
*.app

# ispc
ispc/
.ispc
